<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Geostrophic Wind Simulation System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="bookmark" href="favicon.ico"/>
    
    <script src="https://unpkg.com/vue@next"></script>    
    
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>

  <body>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div id="app">
          <div class="d-flex justify-content-center" id="mydiv" ref="mydiv"></div>
          <form>
            <div class="row">
              <div class="form-group col-xl-4 col-md-6 my-1">
                <label for="grid-num">Grid Number (Larger -> Slower)</label>
                <input id="grid-num" type="text" class="form-control" v-model="gridNum" @change="modifyData">
              </div>
              <div class="form-group col-xl-4 col-md-6 my-1">
                <label for="grid-res">Grid Resolution [m]</label>
                <input id="grid-res" type="text" class="form-control" v-model="gridRes" @change="modifyData">
              </div>
              <div class="form-group col-xl-4 col-md-6 my-1">
                <label for="int-step">Integral Step</label>
                <input id="int-step" type="text" class="form-control" v-model="integralStep" >
              </div>
              <div class="form-group col-xl-4 col-md-6 my-1">
                <label for="int-time-step">Integral Time Step [s]</label>
                <input id="int-time-step" type="text" class="form-control" v-model="DT" >
              </div>
              <div class="form-group col-xl-4 col-md-6 my-1">
                <label for="int-jump">Integral Track Jump</label>
                <input id="int-jump" type="text" class="form-control" v-model="integralJump" >
              </div>
              <div class="form-group col-xl-4 col-md-6 my-1">
                <label for="int-time-jump">Integral Time Jump</label>
                <input id="int-time-jump" type="text" class="form-control" v-model="integralTimeJump" >
              </div>
              <div class="form-group col-xl-4 col-md-6 my-1">
                <label for="friction-coeff">Friction Coeff</label>
                <input id="friction-coeff" type="text" class="form-control" v-model="fraction_coeff" >
              </div> 
              <div class="form-group col-xl-4 col-md-6 my-1">
                <label for="latitude">Latitude [degree]</label>
                <input id="latitude" type="text" class="form-control" v-model="latitude_degree" >
              </div>                      
            </div>
            <div class="row">
              <div class="form-group col-12 my-1">
                <label for="grid-res">P(x,y)= [hPa]</label>
                <input id="field-expression" type="text" class="form-control" v-model="mathexpression" @change="modifyData">
              </div>            
            </div>
            <div class="row my-3">
              <div class="btn btn-primary" id="btn-draw-wind" @click="drawWind">Wind</div>
            </div>                            
          </form>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <script>
      function genPressureField( gridNum, gridRes , fieldfunction){
        eval("pfunc = function(x,y){return ("+ fieldfunction +")};");

        var initZV = new Array();//= new Array(gridNum).fill(0).map(function(){new Array(gridNum).fill(0)});
        var initXV = new Array(gridNum).fill(0);
        var initYV = new Array(gridNum).fill(0);
        for(var i=0;i<gridNum;i++){
          initZV[i] = new Array();
          for(var j=0;j<gridNum;j++){
            initZV[i][j] = 0;
          }
        }              
        //console.log(initZV[0]);

        for(var i=0;i<gridNum;i++){
          for(var j=0;j<gridNum;j++){
            <!-- initZV[i][j]  = gridRes * gridRes * ( i - gridNum/2 ) * ( i - gridNum/2 ) ; -->
            <!-- initZV[i][j] += gridRes * gridRes * ( j - gridNum/2 ) * ( j - gridNum/2 ) ; -->
            <!-- initZV[i][j]  = Math.sqrt(initZV[i][j]) / gridNum  / gridRes ; -->
            
            <!-- initZV[i][j]  = pfunc(i,j) -->
            <!-- initZV[i][j]  = Math.sqrt(initZV[i][j]) / gridNum  / gridRes ; -->
            <!-- initZV[i][j]  = 1040 - initZV[i][j] * 60 ; -->
            initZV[i][j] = pfunc(i,j)
            initXV[i] = gridRes * i / 1000;
            initYV[j] = gridRes * j / 1000;
          }
        }    
        var initData = [{
          x : initXV,
          y : initYV,
          z : initZV,
          type: 'contour',
          colorscale: 'heatmap',
          showscale: false,
          contours: {
            coloring: 'lines',
            showlabels: true,
            labelfont: {
              family: 'Raleway',
              size: 12,
              color: 'black',
            }
          }        
        }]
        return initData;
      }
      
      // Vue 3.0 with Composition API Style
      const { createApp, ref } = Vue;

      const vm = createApp({
        data(){
          return {
            <!-- drawData :  [{ -->
              <!-- x: [1, 2, 3, 5], -->
              <!-- y: [16, 5, 11, 9], -->
              <!-- type: 'scatter' -->
            <!-- }], -->
            gridNum : 30,
            gridRes : 300000,
            drawData : null,
            xPosition : [],
            yPosition : [],
            xStartPosition : [],
            yStartPosition : [],            
            omega : 7.2921E-5,
            latitude_degree:45,
            fraction_coeff: 0.000005/10,
            DT:1200,
            integralStep:30,
            integralJump:2,
            integralTimeJump:2,
            mathexpression:"1040 - 60 * Math.sqrt( (x-10) ** 2 + (y-10) ** 2 ) / 20",
            layout:null
          }
        },
        mounted(){
          this.modifyData()
        },
        methods:{
          modifyData:function(){
            this.drawData = genPressureField(this.gridNum,this.gridRes,this.mathexpression)
            this.layout = {
              autosize: true,
              width: (window.innerWidth > window.innerHeight) ? window.innerHeight : window.innerWidth ,
              height: (window.innerWidth > window.innerHeight) ? window.innerHeight : window.innerWidth  ,
              xaxis:{range: [0, this.gridNum*this.gridRes/1000]},
              yaxis:{range: [0, this.gridNum*this.gridRes/1000]},
              showlegend: false
            };
            Plotly.newPlot(this.$refs.mydiv, this.drawData,this.layout);
          },
          drawWind:function(){
            this.xPosition = [];
            this.yPosition = [];
            this.xStartPosition = [];
            this.yStartPosition = [];            
            var _latitude = this.latitude_degree / 180 * Math.PI;
            var fieldP = this.drawData[0].z;

            for (var i=0;i<this.gridNum-1;i++){
              if ( i % this.integralJump != 0 ) continue;
              for (var j=0;j<this.gridNum-1;j++){
                if ( j % this.integralJump != 0 ) continue;
                var x = i * this.gridRes / 1000 ;
                var y = j * this.gridRes / 1000 ;
                var u = 0;
                var v = 0;
                this.xStartPosition.push(x);
                this.yStartPosition.push(y);
                  
                for (var step=0;step<this.integralStep;step++){
                  if (step % this.integralTimeJump == 0){
                    this.xPosition.push(x);
                    this.yPosition.push(y);
                  }
                  var du =  ( -1/1.225 * (fieldP[i+1][j]-fieldP[i][j]) * 100 / ( this.gridRes ) + 2 * this.omega * Math.sin(_latitude) * v - this.fraction_coeff * u) * this.DT ;
                  var dv =  ( -1/1.225 * (fieldP[i][j+1]-fieldP[i][j]) * 100 / ( this.gridRes ) - 2 * this.omega * Math.sin(_latitude) * u - this.fraction_coeff * v) * this.DT ;

  
                  x = x + u * this.DT /1000;
                  y = y + v * this.DT /1000;
                  
                  u = u + du ;
                  v = v + dv ;
                  
                }
              }
            }

            this.drawData[1] = {
              x:this.xPosition,
              y:this.yPosition,
              mode: 'markers',
              type: 'scatter',
              marker: { size: 2 ,color:"#46c2f0"}
            };
            this.drawData[2] = {
              x:this.xStartPosition,
              y:this.yStartPosition,
              mode: 'markers',
              type: 'scatter',
              marker: { size: 3 ,color:"#f24444"}
            };
            Plotly.redraw(this.$refs.mydiv);
          }
        }
      });
      // mount
      vm.mount('#app');
    </script>        
  </body>
</html>